.add-wants-wrapper {
  display: flex;
  justify-content: flex-end;
}

.add-wants-button {
  padding: 5%;
  width: 15vw;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 175%;
  border: none;
  border-color: aliceblue;
  box-shadow: inset 0px 0px 11px 5px;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1500px) {
  .add-wants-button {
    font-size: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .add-wants-button {
    width: 15vw;
    font-size: 90%;
    box-shadow: inset 0px 0px 7px 2px;
    padding: 1vh;
    margin: 1vh;
    min-width: 100px;
  }
}
