.welcome-text-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.home-welcome-main {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.home-welcome-text {
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}
