.movie-card-section {
  margin: 0.5%;
  border-radius: 3%;
  box-shadow: 1px 1px 10px 3px #a8a8a8;
  background-color: black;
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.movie-card-title {
  color: aliceblue;
  margin: 0%;
  padding: 4px;
  display: flex;
}

.movie-card-image {
  display: flex;
  justify-self: center;
  border-radius: 5%;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 1px 1px 4px 3px #d7d7d75c;
}

.movie-card-rating {
  color: aliceblue;
  background-color: black;
  margin: 0%;
  padding: 4px;
  display: flex;
  border-style: none;
}

.imdbID-element {
  margin: 0%;
  padding: 0%;
  display: flex;
  top: 20vh;
}

/*
    Determine my breakpoints of when the design starts to break down
    thats when I need to set media queries to make adjustments.

    for images you can use the media query to rezise the image and the area it displays, or you can
    uplaod different sized images for different screen sizes. You can also use scrset in the html to 
    add different image sizes as well. sites for aid:
    https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbHc5cE92Ul9DVzhkOHRaM1p1emRETnprOG1DQXxBQ3Jtc0tublVvMEZ0eWlwLVd5ejRrb0tSVTFwU01zYmZiMzk0ZFFabF9lT1RrNXFJV2pPa3lReHRmOGZ3TTh0Q2hSWjFMVkVEUVEyV2RGWmJFOHFPV2puOVNJcEx5NjBXd1pheHB5eGxRLURRSDI2bW1JUWdlTQ&q=https%3A%2F%2Fmedium.freecodecamp.org%2Fa-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433&v=fgOO9YUFlGI
    https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa1hvUU9iX2IyYWpFZDIzMTl5cDJObFNiUGlHZ3xBQ3Jtc0trajB3emtvTTBtMnUzelhIVUV2blcyQTZUREtMOU8xNDFULUE2WDIyUjBMbnR5ejh2Y2VEUHF4bllzYlI3RGJYcHk0SHhpemY1cGJZaE9maU1iLTVGMVpicE5LOE80SjBtR2VTMWlGNzQxSkFLSkRSRQ&q=https%3A%2F%2Fdeveloper.mozilla.org%2Fen-US%2Fdocs%2FLearn%2FHTML%2FMultimedia_and_embedding%2FResponsive_images&v=fgOO9YUFlGI

*/

/*If what you put in the parenthese is true the css displays*/
@media screen and (min-width: 768px) {
}
