/**** Main HTML ****/
body {
  background-color: rgba(0, 0, 0, 0.658);
  /* background-image: url("./images/3d-render-grunge-style-interior-with-spotlights-shining-down.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 99%;
}
